[data-virtual-list-container] {
  width: 400px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 0;
  background-color: aquamarine;
  ul {
    margin-block-start: 0;
    li {
      position: absolute;
      background: linear-gradient(to bottom, #fefefd 0%,#dce3c4 42%,#aebf76 100%);
      width: 300px;
      height: 30px;
      text-align: center;
      &.medio {
        height: 100px; 
      }
      
      &.grande {
        height: 200px;
      }
    }
  }
  .simplebar-track {
    .simplebar-scrollbar {
      &:before {
        opacity: 0.5;
      }
    }
  }
} 


  